-c requirements.txt
-r requirements.txt

black
coverage
doc8
flake8
flake8-bugbear
flake8-comprehensions
flake8-mutable
freezegun
isort
lxml
mypy
openpyxl-stubs
pip
pip-tools
py
Pygments
pylint
pytest
pytest-cov
pytest-snapshot
responses
setuptools
types-freezegun
types-requests
wheel
