name: lint

on:
  pull_request:
  push:
    branches:
      - trunk

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Run all pre-commit checks
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: pip
          cache-dependency-path: |
            pyproject.toml

      - run: pip install -e .[lxml,dev]

      - uses: pre-commit/action@v3.0.0
