name: lint

on:
  pull_request:
  push:
    branches:
      - trunk

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test_requirements.txt
      - run: pip install -r requirements.txt -r test_requirements.txt
      - uses: pre-commit/action@v2.0.3
